*_wire.txt
*_wire.bin
.DS_Store
*.o
*.o.d
*.class
*.a
*~
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.keystore
**/bin/**
**/gen/**
**/libs/**
**/obj/**
**/*.dir/**
**/CMakeFiles/**
**/cmake_install.cmake
**/CMakeCache.txt
**/Debug/**
**/Release/**
build.xml
local.properties
project.properties
proguard-project.txt
linklint_results
Makefile
flatc
flathash
flattests
flatsamplebinary
flatsampletext
snapshot.sh
tests/go_gen
tests/monsterdata_java_wire.mon
tests/monsterdata_go_wire.mon
CMakeLists.txt.user
CMakeScripts/**
CTestTestfile.cmake
build/Xcode/FlatBuffers.xcodeproj/project.xcworkspace/**
build/Xcode/FlatBuffers.xcodeproj/xcuserdata/**
FlatBuffers.xcodeproj/
java/.idea
java/*.iml
java/target
