# The generated fuzzers
*_fuzzer

# Findings from the fuzzers
oom-*
slow-unit-*
crash-*

# Individual fuzzer logs if job=N
fuzz-*.log

.clangd/

# These are copied from tests/annotated_binary/ and should use the latest ones.
annotated_binary.bfbs
annotated_binary.bin

test_64bit.bin

monster_test.bfbs